$theme-light-blue: (
  50: #e6f3fb,
  100: #c0e1f4,
  200: #96ceed,
  300: #6cbae6,
  400: #4dabe0,
  500: #2d9cdb,
  600: #2894d7,
  700: #228ad2,
  800: #1c80cd,
  900: #116ec4,
  A100: #f2f8ff,
  A200: #bfdeff,
  A400: #8cc4ff,
  A700: #73b7ff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text
  )
);

$anms-primary: mat-palette($theme-light-blue);
$anms-accent: mat-palette($mat-light-blue);
$anms-warn: mat-palette($mat-pink, 600);

$anms-theme: mat-light-theme($anms-primary, $anms-accent, $anms-warn);

$mat-button-border-radius: 30px;

@mixin rounded-buttons($theme) {
  $primary: map-get($theme, primary);
  &.mat-button {
    border-radius: 16px;
  }
  &.mat-raised-button[disabled] {

    background-color: mat-color($primary,100) !important
  }

}
.mat-button,
.mat-icon-button,
.mat-stroked-button,
.mat-flat-button,
.mat-raised-button,
.mat-fab,
.mat-mini-fab {
  @include rounded-buttons($anms-theme);
}

.text-center {
  text-align: center;
}
