<div class="background">
  <div class="container" style="height:100%">
    <div class="flex-column d-flex" style="height:100%">
      <div class="row flex-grow-1 justify-content-center">
        <div class="display-1 text-center">
          {{ 'anms.title.long' | translate }}
        </div>
      </div>
      <div class="row flex-grow-1 justify-content-center">
        <div class="">
          <div>
            <span class="plz-input-instruction">
              {{'anms.form.enter-zip' | translate}}
            </span>
            <mat-card class="plz-input">
              <input
                  matInput
                  [value]="zipCode"
                     placeholder="_____"
                     (keyup)="onZipCodeChange($event.target.value)"
                     (focus)="zipControl"
                     [minLength]="zipMinLength"
                     [maxLength]="5"
                     (keyup.enter)="search()"
                     [formControl]="zipControl"
                     [errorStateMatcher]="matcher"
                     class="zip-code"/>
            </mat-card>
          </div>
          <div class="d-block mt-2" style="width: 160px;">
            <mat-error *ngIf="zipControl.hasError('notfound')">
              {{ 'anms.error.zip' | translate}}
            </mat-error>
          </div>
          <div class="d-block mt-2">
             <button [disabled]="!checkZip()" mat-raised-button color="primary" (click)="search()"
                    style="width: 160px;">
              <fa-icon icon="search" class="mr-2"></fa-icon>
              Suchen
            </button>
          </div>
        </div>

      </div>
      <div class="row flex-grow-1 justify-content-center">
        <div
          class="lead text-center" [innerHTML]="'anms.start.description' | translate">  </div>
      </div>
    </div>
  </div>
</div>
