<div class="background">
  <div class="gradient">
    <div class="container">
      <h1>{{ 'anms.title.long' | translate }}</h1>
      <p class="text-center">{{ 'anms.start.description' | translate }}</p>

      <div class="d-flex justify-content-center">
        <div>
          <span class="plz-input-instruction">
            {{'anms.form.enter-zip' | translate}}
          </span>
          <mat-card class="plz-input">
            <input [value]="zipCode"
                   placeholder="_____"
                   (keyup)="onZipCodeChange($event.target.value)"
                   (keyup.enter)="search()"
                   class="zip-code"/>
          </mat-card>
        </div>
      </div>

      <div class="d-flex justify-content-center mt-3">
        <button mat-raised-button (click)="search()">
          <fa-icon icon="search" class="mr-2"></fa-icon>
          Suchen
        </button>
      </div>
    </div>
  </div>
</div>
