@import '../../../../styles-variables';

h1 {
  text-align: center;
  font-size: 3em;
}

h2 {
  font-size: 1.5em;
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.zip-code {
  letter-spacing: 15px;
}

.zip-digit {
  border-bottom: 1px solid black;
}

.plz-input-instruction {
  font-size: 0.8em;
}

.plz-input {
  width: 161px;
  transition: all 0.5s;
  display: flex;
  padding: 10px 10px 10px 20px;

  input {
    flex-grow: 1;
    border: 0;
    font-size: 20px;
    min-width: 100px;
  }
}

// hide number spinner
/* Chrome, Safari, Edge, Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.background {
  padding: 80px 0 0 0;
  position: relative;
  height: 100%;

  .actions {
    text-align: center;
    margin: 50px;
    z-index: 1;

    span {
      display: inline-block;
      font-weight: bold;
      padding: 20px 10px 30px 10px;
    }

    a {
      margin: 0 5px 10px 0;

      &.actions-main {
        text-transform: uppercase;
        padding: 3px 24px;
      }

      fa-icon {
        position: relative;
        bottom: 1px;
      }
    }
  }

  .get-started {
    max-width: 700px;
    margin: 50px auto;
    letter-spacing: 0.01px;
    overflow-wrap: break-word;
    z-index: 1;
    overflow: hidden;

    code {
      font-size: 0.9em;
      display: inline-block;
      word-wrap: break-word;
      white-space: normal;
      margin: 0 0 10px 0;
    }
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;



    background: url('../../../../assets/woman-in-pink-long-sleeve-shirt-and-blue-denim-jeans-sitting-3771792.jpg')
      no-repeat center top;

    background-size: cover;
    opacity: 0.7;
    content: '';
    z-index: 0;

  filter: blur(1px);
  }

  .gradient {
    &::before {
      position: absolute;
      top: 51%;
      left: 0;
      bottom: 0;
      right: 0;
      content: '';
      z-index: 0;
    }
  }

  .container {
    position: relative;
  }
}


@media (max-width: map-get($grid-breakpoints, md)) {
  .display-1 {
    font-size: 4rem;
  }
  .background {
    .actions {
      margin: 50px 0;
    }

    .get-started {
      width: auto;
    }
  }
  .follow-releases {
    width: auto;

    img {
      max-width: 100%;
    }
  }
}

@media (max-width: map-get($grid-breakpoints, sm)) {
  .background {
    padding: 40px 0 0 0;

    h1 {
      line-height: 1em;
    }

    .actions {
      margin: 40px 0 0 0;

      span {
        padding: 10px 0 20px 0;
      }

      a {
        width: 100%;
      }
    }

    .get-started {
      width: auto;
      margin: 40px auto 40px auto;
    }
  }

  .follow-releases {
    margin: 0 auto 40px auto;
  }
}
