<div class="container">
  <h1 class="main-heading">{{ 'anms.menu.impressum' | translate }}</h1>
<mat-card>
  <mat-card-title>
    <h2>Hier Name</h2>
  </mat-card-title>

  <mat-card-content>
      <dl class="row">
          <dt class="col-sm-3">E-Mail</dt>
          <dd class="col-sm-9"><a href="mailto:info@example.com">info@example.com</a></dd>
          <dt class="col-sm-3">Post</dt>
          <dd class="col-sm-9">
            <address class="margin-0" style="padding-top:.35em;">
Straße 12<br>
12345 Stadt<br></address>
      </dl>

  </mat-card-content>
</mat-card>
</div>
