<nav mat-tab-nav-bar  mat-stretch-tabs class="bottom-nav">

  <a class="bottom-nav-element" mat-tab-link [routerLink]="['/city', currZip, 'announcements']" routerLinkActive #rla1="routerLinkActive"
     [active]="rla1.isActive"><fa-icon icon="comment-alt"></fa-icon>
    <span class="bottom-nav-label">{{'anms.menu.announcements' | translate}}</span>
  </a>

  <a class="bottom-nav-element" mat-tab-link [routerLink]="['/city', currZip, 'hints']" routerLinkActive #rla2="routerLinkActive"
     [active]="rla2.isActive"><fa-icon icon="info-circle"></fa-icon>
    <span class="bottom-nav-label">{{'anms.menu.hints' | translate}}</span>
  </a>

  <a class="bottom-nav-element" mat-tab-link  [routerLink]="['/city', currZip, 'glossar']" routerLinkActive #rla3="routerLinkActive"
     [active]="rla3.isActive"><fa-icon icon="book-open"></fa-icon>
    <span class="bottom-nav-label">{{'anms.menu.glossar' | translate}}</span>
  </a>

  <a class="bottom-nav-element" mat-tab-link  [routerLink]="['/city', currZip, 'extra']"  routerLinkActive #rla4="routerLinkActive"
     [active]="rla4.isActive"><fa-icon icon="ellipsis-h"></fa-icon>
    <span class="bottom-nav-label">{{'anms.menu.extra' | translate}}</span>
  </a>

</nav>
