<div class="container">
  <div class="display-4 my-4">Meldungen für {{currZip$ | async}}</div>

  <mat-card *ngFor="let announcement of announcements" class="mb-3">
    <mat-card-title>{{announcement.headline}}</mat-card-title>
    <mat-card-subtitle>{{announcement.sent | date}} von {{announcement.meldende_stelle}}</mat-card-subtitle>
    <mat-card-content [innerHTML]="announcement.description"></mat-card-content>
  </mat-card>

  <mat-card *ngIf="announcements.length == 0">
    <mat-card-title>{{'anms.nodata.title' | translate}}</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    <mat-card-content>{{'anms.nodata.message' | translate}}</mat-card-content>
  </mat-card>


</div>
<!-- <anms-tabnav></anms-tabnav> -->
