@import '~@angular/material/theming';

@mixin anms-app-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .mat-sidenav-container {
    mat-toolbar {
      button {
        opacity: 0.5;
        &.active {
          color: mat-color($primary, default-contrast);
          opacity: 1;
          // background-color: mat-color($primary, default-contrast);
        }
      }

      .link {
        color: mat-color($primary, default-contrast);
      }
    }
    @media (max-width: map-get($grid-breakpoints, md)) {
      mat-toolbar {
        background-color: #fff !important;
        color: mat-color($primary);
        button {
          color: mat-color($primary);
          opacity: 0.54;
          &.active {
            color: mat-color($primary);
            opacity: 1;
          }
        }
      }
    }

    .footer {
      color: mat-color($primary, default-contrast);
      background-color: mat-color($primary);

      .links,
      .signature {
        a {
          color: mat-color($primary, default-contrast);
          &:hover {
            color: mat-color($primary, 900);
          }
        }
      }
    }
  }

  .error-notification-overlay {
    color: mat-color($warn, default-contrast);
    background-color: mat-color($warn);
  }

  .info-notification-overlay {
    color: mat-color($accent, default-contrast);
    background-color: mat-color($accent);
  }

  .success-notification-overlay {
    color: mat-color($success-colors, default-contrast);
    background-color: mat-color($success-colors);
  }

  .warning-notification-overlay {
    color: mat-color($warning-colors, default-contrast);
    background-color: mat-color($warning-colors);
  }
}
